{% extends "base.html.twig" %}
{% block body %}
	<div class="container mt-4">
		<h1 class="mb-5 pl-4" style="border-left: 6px solid #0062cc;">Éditer une destination</h1>
		{{ form_start(form) }}
		{{ form_rest(form) }}
		<button type="submit" class="btn btn-primary mt-4"><i class="fas fa-check mr-2"></i>Sauvegarder les modifications</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
